<ion-header>
  <ion-toolbar>
    <ion-title>bookedflights</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-app>
        <ion-header translucent>
          <ion-toolbar>
            <ion-title>Booked Flight Details</ion-title>
          </ion-toolbar>
        </ion-header>,
        <ion-content fullscreen>
          <ion-card>
            <img src="./assets/air.jpg" />
            <ion-card-header>
              <ion-card-subtitle>Destination</ion-card-subtitle>
              <ion-card-title>MAA-BLR</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                Flight:Airbus
                Time:20:35-21:35
                Price:5249
                <ion-button slot="primary" color="green" href="/track-bag">Track Luggage</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-content>
      </ion-app>

</ion-content>
