<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        <ion-card-title>Card Title</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
          <ion-item>
              <ion-label position="floating">Floating Label</ion-label>
              <ion-input placeholder="FirstName" type="text">Email</ion-input>
              <ion-input placeholder="LastName" type="text">Password</ion-input>
              <ion-input placeholder="Email" type="email">Email</ion-input>
              <ion-input placeholder="Password" type="password">Password</ion-input>
              <ion-input placeholder="Re-Password" type="password">Password</ion-input>
            </ion-item>
            <ion-button color="dark" href="/home">Sign-up</ion-button>
            <ion-button color="medium" href="/home">Already Sign-up?Login</ion-button>
      </ion-card-content>
    </ion-card>
  </ion-content>
