<ion-header>
  <ion-toolbar>
    <ion-title>
      FlyHigh - Smart for booking flight
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Login</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
        <ion-item>
            <ion-label position="floating">Floating Label</ion-label>
            <ion-input placeholder="Email" type="email">Email</ion-input>
            <ion-input placeholder="Password" type="password">Password</ion-input>
          </ion-item>
          <ion-button color="dark" href="/booking">Log-In</ion-button>
          <ion-button color="medium" href="/login">Sign-Up</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
