<ion-header>
  <ion-toolbar>
    <ion-title>Flight Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-app>
        <ion-header translucent>
          <ion-toolbar>
            <ion-title>Flight Details</ion-title>
          </ion-toolbar>
        </ion-header>,
        <ion-content fullscreen>
          <ion-card>
            <img src="./assets/air.jpg" />
            <ion-card-header>
              <ion-card-subtitle>Destination</ion-card-subtitle>
              <ion-card-title>MAA-BLR</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                Flight:Airbus
                Time:20:35-21:35
                Price:5249
                <ion-button slot="primary" color="dark" href="/payment-page">Pay</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-content>
      </ion-app>

      <ion-app>
          <ion-header translucent>
            <ion-toolbar>
              <ion-title>Flight Details</ion-title>
            </ion-toolbar>
          </ion-header>,
          <ion-content fullscreen>
            <ion-card>
              <img src="./assets/air.jpg" />
              <ion-card-header>
                <ion-card-subtitle>Destination</ion-card-subtitle>
                <ion-card-title>MAA-BLR</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                  Flight:Indigo
                  Time:18:35-19:35
                  Price:5449
                  <ion-button slot="primary" color="dark" href="/payment-page">Pay</ion-button>
              </ion-card-content>
            </ion-card>
          </ion-content>
        </ion-app>

        <ion-app>
            <ion-header translucent>
              <ion-toolbar>
                <ion-title>Flight Details</ion-title>
              </ion-toolbar>
            </ion-header>,
            <ion-content fullscreen>
              <ion-card>
                <img src="./assets/air.jpg" />
                <ion-card-header>
                  <ion-card-subtitle>Destination</ion-card-subtitle>
                  <ion-card-title>MAA-BLR</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    Flight:AirAsia
                    Time:23:45-24:45
                    Price:5349
                    <ion-button slot="primary" color="dark" href="/payment-page">Pay</ion-button>
                </ion-card-content>
              </ion-card>
            </ion-content>
          </ion-app>

          <ion-app>
              <ion-header translucent>
                <ion-toolbar>
                  <ion-title>Flight Details</ion-title>
                </ion-toolbar>
              </ion-header>,
              <ion-content fullscreen>
                <ion-card>
                  <img src="./assets/air.jpg" />
                  <ion-card-header>
                    <ion-card-subtitle>Destination</ion-card-subtitle>
                    <ion-card-title>MAA-BLR</ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                      Flight:Airbus
                      Time:20:35-21:35
                      Price:5249
                      <ion-button slot="primary" color="dark" href="/payment-page">Pay</ion-button>
                  </ion-card-content>
                </ion-card>
              </ion-content>
            </ion-app>

</ion-content>
